<%- include("header") -%>

    <div class="about-container">
        <h1 class="about-title">Hello!</h1>
        <h2>
            How do you think about this to-do list app? I hope you like it
            <i class="fa fa-smile-o" aria-hidden="true"></i>
        </h2>
    </div>
     <hr>
    <div class="about-container">
        <p>This app is developed using:</p>
        <ul style="list-style-type:none">
            <li>HTML and CSS (of course), </li>
            <li>Bootstrap framework, </li>
            <li>Express,js framework, </li>
            <li>Node.js environment, and</li>
            <li>MondoDB Atlas database.</li> 
        </ul>
        <p>This app is deployed using Heroku, and the database is hosted on AWS.</p>
    </div>

<%- include("footer") -%>
