</body>
<footer>
  <form action="/about" method="get">
    <button type="submit" class="about-btn">About</button>
  </form>
  <i class="fa fa-copyright" aria-hidden="true"></i>
  2021 YHM
</footer>
</html>